*{
    box-sizing: border-box;
}

.grille{
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.col{
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 10%;
}

.square, .col button{
    width: 100%;
    height: 10%;
    border:1px solid black;
}

.col button{
    cursor: pointer;
}

.col button:hover{
    background-color: #1565c0;
    color: white;
}

body{
    display: flex;
    justify-content: center;
    margin: 0;
    height: 100vh;
}

.scoreboard{
    display: flex;
    flex-direction: column;
    width: 30%;
    border-left: 1px solid black;
}

.scoreboard .player{
    height: 40%;
    background-color: #D0D0D0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}
.scoreboard .hightlight{
    background-color: #FFFFFF;
}

.scoreboard .reset{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
}

.scoreboard #reset{
    background-color: #1665c0;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
}



